* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1340px;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #232536;
  padding: 16px 48px;
  background: #ffd050;
  border: 0;
}
button:hover {
  opacity: 0.9;
}
button:active {
  transform: scale(0.95);
}
