.busines_contents {
  padding: 160px 0 80px;
  text-align: center;
}
.business {
  background: #f4f0f8;
}
.busines_contents h3 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
  color: #232536;
}
.busines_contents p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #6d6e76;
  width: 500px;
  margin: 0 auto;
  padding: 16px 0 32px;
}
.busines_contents h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
}
